### Printing
We can print stuff in Python!

In [7]:
print('Hello, World!')

Hello, World!

In [2]:
print('My favorite number:', 32)

My favorite number: 32

### Variables
We can store and update variables in Python.

Example 1:

In [3]:
a=2
print(a)
a=5
print(a)

2
5

Example 2:

In [4]:
fave_num = 32
print('My old favorite number: ', fave_num)
fave_num = 100
print('My new favorite number: ', fave_num)

My old favorite number:  32
My new favorite number:  100

Example 3:

In [60]:
number = 5
number = number + 1
print(number)

6

### Lists
Lists start at index 0 (not 1). 

We can reference the length of the list using "len".

Here's a list of dogs:

In [9]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print(dogs)
print(dogs[0])
print(dogs[1])
print(dogs[2])
print(len(dogs))

['border collie', 'australian cattle dog', 'labrador retriever']
border collie
australian cattle dog
labrador retriever
3

We can create empty lists using square brackets.

We can add things to lists by using .append:

In [10]:
dogs = []
dogs.append('pit bull')
dogs.append('boxer')
dogs.append('labrador')
print(dogs)

['pit bull', 'boxer', 'labrador']

### For loops

We can loop through lists using for loops:

In [5]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
for doggie in dogs:
    print(doggie)

border collie
australian cattle dog
labrador retriever

Be careful, though, because looping through lists is one of the trickiest things to get started with. What if I had printed "dogs" instead of "doggie" inside the for loop? It would just print the entire dogs list three times:

In [1]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
for doggie in dogs:
    print(dogs)

['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']

Notice that "for doggie in dogs" simply creates a loop that executes three times, and you can specify whatever you want inside that loop by indenting the commands:

In [7]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("I'm about to enter the doggie loop.")

count = 1
for doggie in dogs:
    print("Hi! This is time", count, "through the doggie loop.")
    count = count + 1
    
print("Now I'm out of the doggie loop.")

I'm about to enter the doggie loop.
Hi! This is time 1 through the doggie loop.
Hi! This is time 2 through the doggie loop.
Hi! This is time 3 through the doggie loop.
Now I'm out of the doggie loop.

Here's an example where I loop through all of the numbers in the number_list and keep track of their product. I need to initialize the variable called "myproduct" to 1 first:

In [1]:
number_list = [5,4,3,2,1]
myproduct = 1
for number in number_list:
    print(myproduct)
    myproduct = myproduct*number
print('Final Product =', myproduct)

1
5
20
60
120
Final Product = 120

Here's an example where I loop through all of the numbers in the number_list and keep track of their sum. I need to initialize the variable called "mysum" to 0 first:

In [2]:
number_list = [1, 2, 3, 4, 5]
mysum = 0
for number in number_list:
    print(mysum)
    mysum = mysum + number
print('Final Sum =', mysum)

0
1
3
6
10
Final Sum = 15

### Range function
The range function helps us count easily. It always starts at zero unless otherwise specified and stops one short of the given number:

In [18]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [19]:
for i in range(3,8):
    print(i)

3
4
5
6
7

If you give a third argument to the range function, it counts by that incrementation. If you want to go backwards, you would use an incrementation of -1:

In [20]:
for i in range(8,3,-1):
    print(i)

8
7
6
5
4

We can use the range function to calculate the factorial of 5:

In [8]:
product = 1
for i in range(1,6):
    product = product * i
print('factorial', product)

factorial 120

We can use the range function to calculate the triangular numbers, which are the sum of integers between one and a given positive integer:

In [15]:
mysum = 0
for i in range(1,7):
    mysum = mysum + i
    print('triangular number #', i, ':', mysum)

triangular number # 1 : 1
triangular number # 2 : 3
triangular number # 3 : 6
triangular number # 4 : 10
triangular number # 5 : 15
triangular number # 6 : 21

What if you wanted to add even numbers between 0 and 20 to a list called even_numbers? We could use a for loop and the range function:

In [3]:
evens = []
for i in range(0,22,2):
    evens.append(i)
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

To reference the last item in the list, you can use [-1]:

In [4]:
print(evens[-1])

20

Or the second to last item:

In [5]:
print(evens[-2])

18

We can iterate through lists in two ways. 

Firstly, we can say something like "for item in item_list" like we did earlier:

In [6]:
doggies = ['border collie', 'australian cattle dog', 'labrador retriever', 'pitbull']
for dog in doggies:
    print(dog)

border collie
australian cattle dog
labrador retriever
pitbull

Alternatively, we can use the range function to iterate through the list by using its index value:

In [7]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever', 'pit bull']
for i in range(len(dogs)):
    print(dogs[i])

border collie
australian cattle dog
labrador retriever
pit bull

Even though the second method looks uglier, it is sometimes helpful since it gives us more control over what items in the list we choose to iterate through (only the even indexed items, for example):

In [2]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever', 'pit bull']
for i in range(0,len(dogs),2):
    print(dogs[i])

border collie
labrador retriever

### Logical operators
We have tests for things like equality and inequality:

In [25]:
5 == 5

True

In [26]:
5 == 4

False

In [27]:
4 < 5

True

In [28]:
4 <= 5

True

In [39]:
4 != 5

True

In [30]:
5 in [5,6,9,11]

True

In [31]:
4 in [5,6,9,11]

False

### If statements
We can use conditional statements to only perform operations if a condition is satisfied. In the code below, nothing will print because 5 is not greater than 6:

In [8]:
number = 5
if number > 6:
    print('Your number is greater than 6.')

In the code below, you will get something to print because 7 is greater than 6:

In [33]:
number = 7
if number > 6:
    print('Your number is greater than 6.')

Your number is greater than 6.

We can use if/else statements to perform two different operations depending on whether or not the condition is satisfied or not:

In [15]:
number = 5
if number > 6:
    print('Your number is greater than 6.')
else:
    print('Your number is less than or equal to 6.')

Your number is less than or equal to 6.

If you want to check whether a number is exactly equal to another number, you'll need to use double equal signs, since "=" assigns a value whereas "==" checks for equality:

In [9]:
number = 5
if number == 5:
    print('Your number is equal to 5.')
else:
    print('Your number is not equal to 5.')

Your number is equal to 5.

"Greater or equal to" is written in the order that it is said:

In [17]:
number = 5
if number >= 5:
    print('Your number is greater or equal to 5.')
else:
    print('Your number is less than 5.')

Your number is greater or equal to 5.

You can also use if/elif/else to specify more than two conditions:

In [18]:
number = 5
if number > 10:
    print('Your number is bigger than 10.')
elif 10 >= number > 8:
    print('Your number is between 8 and 10.')
elif 8 >= number > 5:
    print('Your number is between 5 and 8.')
else:
    print('Your number is less than or equal to 5.')

Your number is less than or equal to 5.

### Some math
Integers behave the way you would expect:

In [67]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3**2)

5
1
6
1.5
9

Sometimes floating numbers (i.e., decimals) can have some strange rounding stuff:

In [68]:
print(0.1+0.1)
print(0.1+0.2)

0.2
0.30000000000000004

Here's an explanation for why:

https://stackoverflow.com/questions/7545015/can-someone-explain-this-0-2-0-1-0-30000000000000004

There are some useful built in functions for numerical lists:

In [70]:
numbers = [2,4,17,9,11,7]
print('max:', max(numbers))
print('min:', min(numbers))
print('sum:', sum(numbers))
print('average:', sum(numbers)/len(numbers))

max: 17
min: 2
sum: 50
average: 8.333333333333334

If you want to perform more math than what is already built in, you may need to import the math package:

In [76]:
import math
print(math.sqrt(4))
print(math.pi)
print(math.cos(math.pi))
print(math.exp(1))
print(math.factorial(5))

2.0
3.141592653589793
-1.0
2.718281828459045
120

### Modulo

Modulo is a math operator that returns the remainder. For example, 7 mod 2 is equal to 1, since 2 goes evenly into 7 three times, with a remainder of one. 6 mod 2, on the other hand, is exactly 0, since 6 is a multiple of 2. Here are some other examples:

8 mod 5 = 3

8 mod 3 = 2

8 mod 7 = 1

8 mod 4 = 0

8 mod 8 = 0

8 mod 9 = 8

8 mod 10 = 8

In Python, we use the % sign to denote the mod symbol:

In [36]:
print(16 % 5)

1

We can use modulo to print out just even numbers:

In [37]:
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

Or just odds:

In [38]:
for i in range(10):
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In addition, the mod function helps us determine whether a number is a factor of another number, since when m is a factor of n, n % m = 0. The code below prints factors of 20:

In [41]:
number = 20
for i in range(1,number+1):
    if number % i == 0:
        print(i)

1
2
4
5
10
20

### Booleans
Boolean variables are variables that take on the values of True or False.

In [72]:
even = True
if even == True:
    print('divisible by 2')
else:
    print('not divisible by 2')

divisible by 2

The code below assumes that there are no evens in the list of numbers. If it finds an even number, it changes its assumption to True for the remainder of the loop.

In [11]:
numbers = [5, 3, 7, 9, 2, 1, 15]

even = False

for number in numbers:
    if number % 2 == 0:
        even = True
    print(number, even)
        
if even == True:
    print('You have an even number in your list.')
else:
    print('You have no even numbers in your list.')

5 False
3 False
7 False
9 False
2 True
1 True
15 True
You have an even number in your list.

### Functions

When we define a function, we give it an input (between the parenthesis) and return an output. We can then call the function below the function definition. 

The code below defines a function called sum_one that adds one to a number. It then calls the function on the numbers 5 and 9:

In [12]:
def sum_one(number):
    new_number = number + 1
    return new_number

print(sum_one(5))
print(sum_one(9))

6
10

We can simplify the code even further:

In [13]:
def sum_one(number):
    return number + 1

print(sum_one(5))
print(sum_one(9))

6
10

We can take in more than one input:

In [14]:
def sum_two(number1, number2):
    return number1+number2

print(sum_two(5,7))

12

We can define a factorial function:

In [23]:
def factorial(n):
    product = 1
    for i in range(1,n+1):
        product = product*i
    return product

print(factorial(5))

120

We can define a function that sums all of the integers between 1 and a given number:

In [24]:
def triangular_numbers(n):
    mysum = 0
    for i in range(1,n+1):
        mysum = mysum+i
    return mysum

print(triangular_numbers(3))

6

We can define a function that returns all of the even integers below a certain positive integer:

In [23]:
def return_evens(n):
    evens = []
    for i in range(n):
        if i % 2 == 0:
            evens.append(i)
    return evens

print(return_evens(19))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

We can define a function that returns whether or not a list of numbers contains an even number or not:

In [3]:
def even_check(numbers):

    even = False

    for number in numbers:
        if number % 2 == 0:
            even = True
        
    return even

print(even_check([5, 3, 7, 9, 2, 1, 15]))
print(even_check([5,3,7]))

True
False

We can create a function that takes in two positive integers m and n and returns all of the multiples of m that are less than or equal to n:

In [26]:
def factors(m,n):
    factors_list = []
    for i in range(1,n+1):
        if i % m == 0:
            factors_list.append(i)
    return factors_list

print(factors(3,27))
print(factors(4,27))

[3, 6, 9, 12, 15, 18, 21, 24, 27]
[4, 8, 12, 16, 20, 24]

We can update variables simultaneously by putting a comma between them. In the example below, the function takes two numbers returns the sum and difference of those two numbers:

In [29]:
def sum_diff(m,n):
    
    m, n = m+n, m-n
    
    return m,n

print(sum_diff(3,5))

(8, -2)

### Exercise 1 - Double
Write a function called "double" that returns double of a number.
Hint: Pay special attention to the sum_one example.

In [1]:
#insert Exercise 1 here

def double(n):
    return 2*n

print(double(5.2))

10.4

### Exercise 2 - Odds list

Write a function called "return_odds" that takes in a positive integer, n, and returns a list of all the odd integers less than that number.

Hint: Pay special attention to the return_evens example.

In [5]:
#insert Exercise 2 here

def return_odds(n):
    odds = []
    for i in range(n):
        if i % 2 == 1:
            odds.append(i)
    return odds
print(return_odds(20))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Exercise 3 - Average
Write a function called "average" that takes in a list of numbers and returns the average. 

Hint: We discussed how to use the built-in functions sum and len to calculate the average earlier. Do "Control-F" or "Command-F" to search for "average" in this notebook if you have forgotten where.

In [6]:
#insert Exercise 3 here
def average(numbers):
    return sum(numbers)/len(numbers)

print(average([5,2,-4,0]))

0.75

### Exercise 4 - Prime Numbers
Write a function called "prime" that takes in a number, n, and returns "True" if the number is prime and "False" if the number is not prime.

Hint: Pay special attention to the even_check and factors function examples.

In [7]:
#insert Exercise 4 here
def prime(number):

    prime = True

    for i in range(2,number):
        if number % i == 0:
            prime = False
        
    return prime

print(prime(7))
print(prime(8))

True
False

### Exercise 5 - Fibonacci Numbers

Write a function that takes in a number, n, and returns a list of the first n terms of the Fibonacci sequence. For example, an input of 6 would return the list [1,1,2,3,5,8].

For simplicity, you can assume that the user will give you a positive number, n, greater or equal to 3, so that 1 and 1 are always included in the list.

Hint: pay special attention to the sum_diff function example.

In [8]:
#insert Exercise 5 here
def fibonacci(n):
    old, new = 1, 1
    
    fib_list = [old, new]

    for i in range(n-2):
        old, new = new, old + new
        fib_list.append(new)
    return fib_list

print(fibonacci(7))

[1, 1, 2, 3, 5, 8, 13]